@page "/eventDetail/{id}"
@* @page "/event" *@
@using System.Globalization;
@using TheKangaroos_ClubEnrolmentPortal.Data.Models
@using TheKangaroos_ClubEnrolmentPortal.Data.Services
@inherits OwningComponentBase<EventService>
@inject TicketService TicketService
@inject MembershipService MembershipService
@using System.Security.Claims


<div class="detail-page">
    <div class="header shadow">
        <div class="content">
            <h1 class="page-heading">@eventItem.Name</h1>
        </div>
        @if (@eventItem.Image != null)
        {
            <img class="header-img" src="@eventItem.Image">
        }
    </div>
    <div class="row">
        <div class="col-12 col-xl-9">
            <div class="card border-none shadow px-3 pt-3 mb-4">
                <div class="row">
                    <div class="col-12 col-lg-4 col-lg-text-left">
                        <p>Date</p>
                        <p>
                        <h6 class="font-weight-bold">
                                @eventItem.StartDate.DayOfWeek
                                @eventItem.StartDate.ToLongDateString()
                        </h6>
                        </p>
                    </div>
                    <div class="col-12 col-lg-2 col-lg-text-center">
                        <p>Time</p>
                        <p>
                        <h6 class="font-weight-bold">
                                @eventItem.StartDate.ToString("hh:mm") @eventItem.StartDate.ToString("tt")
                        </h6>
                        </p>
                    </div>
                    <div class="col-12 col-lg-2 col-lg-text-center">
                        <p>Venue</p>
                        <p>
                        <h6 class="font-weight-bold">@eventItem.Location</h6>
                        </p>
                    </div>
                    <div class="col-12 col-lg-2 col-lg-text-center">
                        <p>Price</p>
                        <p>
                        <h6 class="font-weight-bold">
                                @if (float.Parse(eventItem.Price, CultureInfo.InvariantCulture.NumberFormat) > 0)
                                {
                                <span>@eventItem.Price</span>
                                }
                                else
                                {
                                <span>Free</span>
                                }
                        </h6>
                        </p>
                    </div>
                    <div class="col-12 col-lg-2 col-lg-text-right">
                        <p>Tickets Available</p>
                        <p>
                        <h6 class="font-weight-bold">
                                @*<i class="fa-solid fa-user"></i>*@
                                @if (@eventItem.TicketsAvailable > 0)
                                {
                                <span>@eventItem.TicketsAvailable</span>
                                }
                                else
                                {
                                <span>Unlimited</span>
                                }
                        </h6>
                        </p>
                    </div>
                </div>
            </div>
            <h5 class="font-weight-bold text-secondary">Organized By</h5>
            <p class="description">
                @eventItem.CreatedByClub.Name 
                <a class="ml-3" href="/clubDetail/@eventItem.CreatedByClubId">Goto Club Page</a>
            </p>
            <hr>
            <h5 class="font-weight-bold text-secondary">Event Details</h5>
            <p class="description">
                @eventItem.Description
            </p>
            @if (@eventItem.Image != null)
            {
                <img class="img-fluid mt-3" src="@eventItem.Image">
            }
        </div>
        <div class="col-12 col-xl-3">
            <div class="sidebar bg-fifth-color-light shadow p-3">
                <h4 class="font-weight-bold text-secondary text-center mb-4">Get Tickets</h4>
                <p class="text-center font-weight-bold">Ticket Details</p>
                <div class="d-flex justify-content-between">
                    <p>Ticket Price:</p>
                    <p>
                        <i class="fa-solid fa-sterling-sign mr-3"></i>
                        @if (float.Parse(eventItem.Price, CultureInfo.InvariantCulture.NumberFormat) > 0)
                        {
                            <span>@eventItem.Price</span>
                        }
                        else
                        {
                            <span>Free</span>
                        }
                    </p>
                </div>
                @if (eventItem.StartDate < DateTime.Now.Date && eventItem.EndDate < DateTime.Now.Date)
                {
                    <p class="text-danger">This Event has already expired</p>
                }
                else
                {
                    @if (HasTicket())
                    {
                        <p>You have successfully bought a ticket to this Event</p>
                    }
                    else
                    {
                        @if (IsApproved())
                        {
                            <button class="btn btn-lg btn-secondary-color w-100 my-2" @onclick="getTicket">Buy Tickets</button>

                        }
                        else
                        {
                            <button disabled class="btn btn-lg btn-secondary w-100 my-2" @onclick="getTicket">Buy
                                Tickets</button>
                            <p class="text-danger">You need to be a member of the @eventItem.CreatedByClub.Name to buy Tickets for
                                its Events</p>
                        }
                    }
                    <p class="text-secondary mt-3"><i class="fa-solid fa-circle-info mr-3"></i><b>Important Information</b>
                    </p>
                    <p>After purchasing the ticket, you can expect to get an email confirming the purchase of the ticket
                        along with a ticket ID. Please take note of the ticket ID and save it safely. The ticket ID is
                        required for entry to the event. The rules and regulations of the event are subject to change.
                    </p>
                }
                <p>If you have any queries about purchasing tickets, please create an enquiry for the respective
                    organizing clubs.</p>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    [Parameter]
    public string id { get; set; }

    private Event eventItem;

    protected override void OnInitialized()
    {
        eventItem = Service.GetEventByIdAsync(id);
    }

    private bool IsApproved()
    {
        return MembershipService.IsApproved(userId, eventItem.CreatedByClubId);
    }

    private bool HasTicket()
    {
        return TicketService.HasTicket(userId, id);
    }


    private string userId { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;
        userId = authState.User.FindFirst(ClaimTypes.NameIdentifier).Value;
    }

    private async void getTicket()
    {
        Ticket ticket = new Ticket
        {
            EventId = eventItem.Id,
            UserId = userId,
        };
        TicketService.CreateTicketAsync(ticket);
        @*MyNavigationManager.NavigateTo(MyNavigationManager.Uri, true);*@
    }
}
