@page "/clubDetail/{id}/events"
@using TheKangaroos_ClubEnrolmentPortal.Data.Models
@using TheKangaroos_ClubEnrolmentPortal.Data.Services
@inject MembershipService MembershipService
@inherits OwningComponentBase<ClubService>
@using System.Security.Claims

<div class="d-flex justify-content-between">
    <h3 class="text-secondary font-weight-bold">@club.Name - All Events</h3>
    @if (IsAdmin())
    {
        <a href="event/create/@id" class="font-weight-bold text-secondary align-self-center">Create Event</a>
    }
</div>
<hr>
<div class="events">
    <div class="row">
        @foreach (var item in events)
        {
            <EventItem id="@item.Id" Name="@item.Name" StartDate="@item.StartDate" EndDate="@item.EndDate"
            Location="@item.Location" Image="@item.Image" CreatedByClub="@item.CreatedByClub"
            TicketsAvailable="@item.TicketsAvailable" Price="@item.Price" />
        }
    </div>
</div>


@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }
    [Parameter]
    public string id { get; set; }
    private string userId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;
        userId = authState.User.FindFirst(ClaimTypes.NameIdentifier).Value;
    }

    private Club club;
    private List<Event> events;

    protected override void OnInitialized()
    {
        club = Service.GetClubByIdAsync(id);
        events = Service.GetEventsByClubIdAsync(id);
    }

    private bool IsAdmin()
    {
        return MembershipService.IsAdmin(userId, id);
    }
}