@page "/"

@using TheKangaroos_ClubEnrolmentPortal.Data.Models
@using TheKangaroos_ClubEnrolmentPortal.Data.Services
@inject ClubService ClubService
@inject EventService EventService

<div class="row">
    <div class="col-12 col-xl-9">
        <h3 class="font-weight-bold text-secondary">Dashboard</h3>
        <hr>
        <div class="club-news">
            <h4 class="font-weight-bold text-secondary mb-3">Latest Club News</h4>
            @if (news.Count > 0)
            {
                <div class="row">
                    @for (int i = 0; i < 5 && i < news.Count; i++)
                    {
                        Item item = news[i];
                        <div class="col-6 col-lg-4">
                            <div class="card mb-3 p-3">
                                <h5>@item.Title</h5>
                                <p class="mb-0">
                                    @item.Description
                                </p>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <p>Your news section is unfortunately empty :(</p>
            }
        </div>
        <hr>
        <div class="events">
            <div class="d-flex justify-content-between">
                <h4 class="font-weight-bold text-secondary mb-3">Upcoming Events</h4>
                <a class="text-secondary font-weight-bold" href="eventList">View All Events</a>
            </div>
            <div class="row">
                @for (int i = 0; i < 5 && i < events.Count(); i++)
                {
                    Event item = events[i];
                    @if (item.StartDate > DateTime.Now)
                    {
                        <EventItem id="@item.Id" Name="@item.Name" StartDate="@item.StartDate" EndDate="@item.EndDate"
                    Location="@item.Location" Image="@item.Image" CreatedByClub="@item.CreatedByClub"
                    TicketsAvailable="@item.TicketsAvailable" />
                    }
                }
            </div>
        </div>

    </div>
    <div class="col-12 col-xl-3">
        <div class="dashboard-right bg-fifth-color-light shadow p-3">
            <div class="event-list">
                <h5 class="text-center font-weight-bold text-secondary mb-3">My Events</h5>
                @if (events.Count != 0)
                {

                    @foreach (var item in events)
                    {
                        <div class="p-2 event-card mb-3">
                            <div class="event-date">
                                <h4 class="mb-0">@item.StartDate.Day</h4>
                                <p class="mb-0">@item.StartDate.ToString("MMM")</p>
                            </div>
                            <div class="event-detail">
                                <p class="mb-1 font-weight-bold">@item.Name</p>
                                <p class="mb-0">@item.Location</p>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p class="text-center">You are not registered for any event.</p>
                }
                <div class="text-center mt-3">
                    <a href="eventList">View All Events</a>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private List<Event> events;

    protected override void OnInitialized()
    {
        events = EventService.GetEventsAsync();
    }

    IList<Item> news = new List<Item>
{
new Item {
Title = "Title 1",
Type = "Event",
Description = "Demo Description"
},
new Item {
Title = "Title 2",
Type = "Announcement",
Description = "Demo Description"
},
new Item {
Title = "Title 3",
Type = "Event",
Description = "Demo Description"
},
new Item {
Title = "Title 4",
Type = "Announcement",
Description = "Demo Description"
},
new Item {
Title = "Title 4",
Type = "Announcement",
Description = "Demo Description"
}
};

    class Item
    {
        public string Title { get; set; }
        public string Type { get; set; }
        public string Description { get; set; }
    }
}