<div class="col-12 col-xl-6 mb-4">
    <div class="event-card-big card">
        <div class="card-contents">
            <div class="d-flex align-items-center">
                <div class="event-date">
                    <h4 class="mb-0 text-white">@Date.Day</h4>
                    <p class="mb-0">@Date.ToString("MMM")</p>
                </div>
                <div class="ml-1">
                    <h5 class="text-white font-weight-bold ml-2">@Title</h5>
                    <span><i class="fa-solid fa-clock"></i>
                        @*Date.ToString("MM/dd/yyyy") *@
                        @Date.ToString("hh:mm") @Date.ToString("tt")</span>
                    <span class="ml-2"><i class="fa-solid fa-location-dot"></i> @Location</span>
                    <span class="ml-2"><i class="fa-solid fa-sterling-sign"></i>&nbsp;
                    @if (@Price == 0)
                    {
                      <span>Free</span>
                    }
                    else{
                        @Price.ToString("0.00");
                    }
                    </span>
                </div>
            </div>
            <div class="text-white text-center mt-2">
                <a class="btn btn-outline-light font-weight-bold" href="eventDetail/@id.ToString()">Get Tickets</a>
            </div>

        </div>
        @if (@ImageUrl != null)
        {
            <img src="@ImageUrl" class="event-banner" alt="">
        }
    </div>
</div>

@code{

    [Parameter]
    public int id {get;set;}
    [Parameter]
    public string Title {get;set;}
    
    [Parameter]
    public DateTime Date {get;set;}
    
    [Parameter]
    public string Location {get;set;}

    [Parameter]
    public string ImageUrl  { get; set; }

    [Parameter]
    public double Price {get;set;}
}